<h1>TRAVEL</h1>
<p>Where would you like to travel?</p>
<p>Homeland: <%= @homeland %></p>

<h4>Countries to Visit:</h4>
<ul>
<% @countries.each do |country| %>
  <li>
  <%= country %>
  <% end %>
  </li>
</ul>

</br>
<ul>
<% @countrypics.each do |pic| %>
  <p>
  <%= image_tag pic, class: "img-responsive" %>
  <% end %>
</p>
</ul>

<ul>
<% @united_states.each do |x, y| %>
  <li>
    <%= x.titleize + ": " %>
    <%= y %>
  <% end %>
  </li>
</ul>
